<% provide(:title, 'About Us') %>
<h1>O nas</h1>
<p>
   	
ISTNIEJEMY od 1991r. Produkujemy bramy garażowe, segmentowe, rolowane, bramy przemysłowe, rolety zewnętrzne oraz różnego rodzaju rolety tekstylne i żaluzje. Prowadzimy również sprzedaż hurtową elementów do ich produkcji. Konsekwentna strategia firmy oraz wieloletnie doświadczenie w tej branży pozwoliło nam na osiągnięcie wysokiej pozycji na rynku krajowym i zagranicznym. W wyrobach własnych, które stanowią 90% naszej oferty, stosujemy komponenty pochodzące od najlepszych europejskich dostawców. Dzięki temu możemy zaproponować Państwu nie tylko ciekawą ofertę, ale również bardzo przystępną cenę, wysoką jakość zarówno samych produktów jak i montaż oraz serwis zainstalowanych urządzeń. Ciągle poszerzany asortyment oraz sukcesywnie zwiększająca się ilość zleceń potwierdzają słuszność obranego przez nas kilkanaście lat temu kierunku.
Sprawdź naszą ofertę. Zapraszamy! 
</p>