<div class="center hero-unit">
  <h1>Witaj w naszym serwisie!</h1>

  <h2>
    Oto nasza strona na której <br /> znajdziesz cennik oraz dane kontaktowe, <br /> jak również złożysz zamówienia!
  </h2>

  <%= link_to "Zarejestruj się!", signup_path, class: "btn btn-large btn-primary" %>
</div>

