<% provide(:title, 'Kontakt') %>
<h1>Kontakt</h1>
<p>
42-200 CZĘSTOCHOWA <br />
ul. Św. Augustyna 27 <br />
Tel/Fax +48 34 365 63 58 <br />
email: biuro@etalux.pl <br />
<a href="http://etalux.pl/">Strona firmy ETALUX</a>
</p>