<footer class="footer">
  <small>
    <a href="http://etalux.pl/">Etalux.pl</a>
    by Hubert Kalinowski
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas",  about_path  %></li>
      <li><%= link_to "Kontakt", kontakt_path  %></li>
      <li><%= link_to "Aktualności", root_path %></li>
    </ul>
  </nav>
</footer>